$MainColor:#008ae6;
$SedondColor:#66c2ff;

.UserProfile{
    div{
        article, footer{
            font-family: Arial;
            text-align: center;
            margin: 1rem;
            padding: 2rem;
            background-color: white;
            border-radius: 25px;
            box-shadow: $MainColor 5px 5px 0px;
            transition: 0.5s;
            img{
                width: 100px;
                height: auto;
            }
            h1{
                font-size: 2rem;
            }
            h2{
                font-size: 1.2rem;
            }
            p{
                opacity: 0.5;
            }
        }

        footer{
            display: flex;
            justify-content: space-evenly;
        }
    }
}

@media screen and (max-width: 992px) {
    div{
        width: 90%;
        footer{
            flex-direction: column;
        }
    }
  }

